 body{
   background: #131418;
 }

 /* nav */

.navbar{ background: #2c3e50 !important;}
.nav-link , .navbar-brand{ color: #ecf0f1 !important; cursor: pointer;}
.nav-link{ margin-right: 2em !important;}
.nav-link:hover{ background: #f1c40f; color: #f1c40f; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
.navbar-brand {color: #e67e22 !important; margin-left: 5em;}

.navbar-collapse{
  justify-content: flex-end;
 }

/*welcome page*/
 

 .row{ background-color: #131418;}



 .box-show {
  display:flex;
  justify-content: center;
  }

  
  

    .box-show h1{
      font-family: 'Balthazar', serif;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;      
      }

    .box-show h1{
      display: flex;
      flex-flow: row wrap;
      color: #ecf0f1;
      line-height: 20px;
      font-size: 1rem;
      
      }

     i{
      padding-right:10px;
      
    }

    

    .free{
      display:flex;
      flex:1;
      align-items: center;
      justify-content: center;
     
      border: 2px solid #f1c40f;
      flex-wrap: nowrap;
      flex-shrink: 1;
      height : 50px;
      position: relative;
      top:4rem;
     }

     

    .year {
      display:flex;
      flex:1;
      align-items: center;
      justify-content: center;
     
      border: 2px solid #f1c40f;
      flex-wrap: nowrap;
      flex-shrink: 1;
      height : 50px;
      position: relative;
      top:4rem;
    
    }
    

    .quality {
      display:flex;
      flex:1;
      align-items: center;
      justify-content: center;
     
      border: 2px solid #f1c40f;
      flex-wrap: wrap;
      flex-shrink: 1;
      height : 50px;
      position: relative;
      top:4rem;
      
      }
     

    .time {
      display:flex;
      flex:1;
     
      border: 2px solid #f1c40f;
      flex-wrap: wrap;
      flex-shrink: 1;
      height : 50px;
      align-items: center;
      justify-content: center;
      position: relative;
      top:4rem;
     
    }

    

     /* images */
.right-side-1{ display:flex; align-content:flex-end; flex-flow: row wrap;
  justify-content: space-around;
}
     
     
      .right-side-1 {width:500px; height:350px; position: relative; top:1rem; align-content:flex-end; margin-bottom: 15px;}
     
    

/*welcome two sheet*/
  .call-look{
   display: flex;
    flex-flow: column;
   
   }

    .look-1{
      color:#f1c40f;
      font-size: 2rem;
      position: relative;
      top:15rem;
      padding: 0.5rem;
      margin-left: 1rem;
    }

    .look-2{
      color: #f1c40f;
      font-size: 1.5rem;
      position: relative;
      top:15rem;
      padding: 0.5rem;
      margin-left: 1rem;
    }

/* next page */

.item-sale h1{text-align: center; font-size: 2rem; color: #EAB543; position: relative;
bottom:-0.8rem; padding:15px; margin: 5px;}

.move-height-0{height: 200px;padding:10px;}
/*.move-side-1{left:8em;} */
.move-height-1{height:225px;}
/*.move-side-2{left:1em;}*/
.move-height-2{height: 225px; padding:10px;}
.card-text{color:#ff3f34; text-align: center; font-size: 1em;}
/*.move-side-3{right:6em;}*/
.move-side-3{margin-top:2rem;}
.move-height-3{height: 225px; padding:10px; }
/*.move-side-4{right:13em;}*/
.move-side-4{margin-top:2rem;}
.move-height-4{height: 225px; padding:10px;}
/*.move-side-5{right:20em;}*/
.move-side-5{margin-top:2rem;}
.move-height-5{height: 204px; padding:10px }

/* ----- media starting for Home -----*/
@media only screen and (max-width: 600px) {
.All{justify-content:center; margin: 5px; padding-left:7rem;}
.box-show h1{font-size:8px;}
i{
  padding-right:4px;
  
}
.free{  border: 1px solid #f1c40f; }
.year{  border: 1px solid #f1c40f; }
.quality{  border: 1px solid #f1c40f; }
.time{  border: 1px solid #f1c40f; }

.look-1{
  color:#ecf0f1;
  font-size: 1.4rem;
  position: relative;
  top:3.5rem;
  padding: 1rem;
  text-align: center;
  
}

.look-2{
  color: #ecf0f1;
  font-size: 1.1rem;
  position: relative;
  top:1.6rem;
  padding: 0.8rem;
  text-align: center;
  
}

.item-sale h1{color: #ecf0f1;
  font-size: 1.1rem; }

}  /* ----- media ending for Home -----*/

/*About us */

.intro-1 {
  color:#ecf0f1;
}

.intro-2{
  color:#ecf0f1;
}
.page3{
  display:flex;
  position: relative;
  
}


.showcase {background-image: url(images/347.jpg);   background-repeat: no-repeat;
  background-size: 1000px 600px; 
  background-position: center; 
   }

   .view{
    list-style-type: none;
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    color:#ecf0f1;
  }
  .like-0{
    position: relative;
    top:2rem;
    
  }
  .like-1{
    position: relative;
    top:4rem;
  }
  .like-2{
    position: relative;
    top:1rem;
  }
  .like-3{
    position: relative;
    top:1rem;
  }
  .like-4{
    position: relative;
    top:1rem;
  }
  .like-5{
    position: relative;
    top:1rem;
  }
  .like-6{
    position: relative;
    
  }

  /* services */

   .slide-01{
    color: #e67e22;
    bottom:-2rem;
  }

 
   .slide-02{
    color: #e67e22;
    bottom:-2.5rem;
   }

   .slide-03{
    color: #e67e22;
    bottom:-2rem;
   }

   .do-1{
     color:#ecf0f1;
     font-family: 'Belgrano', serif;
     padding:4rem;
   }

   .do-2{
    color:#ecf0f1;
    font-family: 'Belgrano', serif;
    padding:0.5rem;
  }

   /* contact form */

   .info{
     color: #ecf0f1;
   }


  